name: gh-pages-app
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: subosito/flutter-action@v1
      with:
        channel: stable
    - run: flutter pub get
#    - run: flutter test
    - run: flutter build web

    -
      name: Gen dummy page
      run: |
        mkdir public
        cat > public/index.html <<EOL
        <!doctype html>
        <html>
          <head>
            <title>GitHub Pages deployed!</title>
          </head>
          <body>
            <p>GitHub Pages with <strong>${{ github.sha }}</strong> commit ID has been deployed through <a href="https://github.com/marketplace/actions/github-pages">GitHub Pages action</a> successfully.</p>
          </body>
        </html>
        EOL
    -
      name: Deploy to GitHub Pages
      if: success()
      uses: crazy-max/ghaction-github-pages@v2
      with:
        target_branch: gh-pages
        build_dir: public
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}